# Dependency directories
node_modules/

# Compiled output
dist/

# Cypress
cypress/videos/
cypress/screenshots/

# Coverage directory used by tools like istanbul
coverage/

# IDEs and editors
.vscode

# OS
.DS_Store
